.box {

    width: 95px;
    height: 100px;
    border: 3px solid black;
    padding: 20px;
    margin: 2px;
    display: flex;
    text-align: center;
}

.nev {
    background-color: rgba(19, 6, 53, 0.764);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */

}

.box1 {
    
     background-color: #ba3c3c;
}

.box:hover {
    color: #08002b;
    background-color: #250404;
    width: 2000px;
    height: 100px;
    box-shadow: #03010b 4px 5px 6px 7px;
    color: aqua;

}

.box2 {
    background-color: #32b59f;
}

.box3 {
    background-color: #3bc77c;
}

.box4 {
    background-color: #2c3ec4
}